---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    title: "ラーメンブログ",
    tech: "Laravel",
    link: "./ramen-blog"
  },
  {
    title: "バンド予約サイト",
    tech: "Next.js",
    link: "./band-reservation"
  }
];
---

<Layout title="ホーム">
    <section class="">
        <h1 class="text-4xl font-bold">
            むむむの日常
        </h1>

        <p class="mt-4 text-slate-600 dark:text-slate-400">
            個人開発・学習で作成したアプリケーションです。
        </p>
        <div class="mt-6 grid gap-4">
            {
                projects.map(project => (
                <ProjectCard
                    title={project.title}
                    tech={project.tech}
                    link={project.link}
                />
                ))
            }
        </div>
    </section>
</Layout>