---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import IconLink from "../components/IconLink.astro";

const projects = [
    {
        title: "ラーメンブログ",
        tech: "Laravel",
        link: "./ramen-blog",
    },
    {
        title: "バンド予約サイト",
        tech: "Next.js",
        link: "./band-reservation",
    },
];
---

<Layout title="ホーム">
    <div class="text-center">
        <h1 class="text-4xl font-bold">schec285の部屋</h1>
    </div>
    <section>
        <div
            class="mx-auto mt-6 h-48 w-48 rounded-full border-4 border-slate-300 bg-slate-100 object-cover p-2 shadow-lg dark:border-slate-500 dark:bg-slate-600"
        >
            <img src="/schec285_icon_v1.svg" alt="schec285のアイコン" />
        </div>

        <div class="flex items-center justify-center gap-2 mt-4">
            <IconLink
                link="https://github.com/schec285"
                icon="simple-icons:github"
            />
        </div>
    </section>

    <section>
        <h2 class="mt-4 text-slate-600 dark:text-slate-400">
            個人開発・学習で作成したアプリケーションです。
        </h2>
        <div class="mt-6 grid gap-4">
            {
                projects.map((project) => (
                    <ProjectCard
                        title={project.title}
                        tech={project.tech}
                        link={project.link}
                    />
                ))
            }
        </div>
    </section>
</Layout>
